.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 3%;
    text-decoration: none;
    font-size: 170%;
}

.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

.topnav a.active {
    background-color: #2c90af;
    color: white;
}

.jumbotron{
    background-color:#898888;
    background-image:url("https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    margin-bottom:100px;
    background-size:cover;
    height:500px;
    color:white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    position: relative ;
    margin-top:200px;
   margin-bottom: 600px;
    margin-left:400px;
    right: 100px;
    width: 300px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;

    font-size: 18px;
}

.a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.button:hover, a:hover {
    opacity: 0.7;
}

.p{
    text-align: center;
    }

.bill{
   padding-left: 900px;
}
.a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}


.top{
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 6em;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
}

#two{
    background-image:url("https://images.unsplash.com/photo-1533854775446-95c4609da544?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-color:#898888;
    background-repeat: no-repeat;
    margin-bottom:100px;
    background-size:cover;
    height:500px;
    color:white;
}

.long{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.8em;
    color: black;
}


.ethics{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1em;
    color: black;
}

.offer{
    text-align: center;
    font-size: 1em;
    color: black;
}

#three{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 12em;
    color: black;
}

.top2{
    font-family: 'Playfair+Display+SC', serif;
    text-align: center;
    color: rgb(255, 255, 255) !important;
}

#tron{
    text-align: center;
}

.hr{
    color: black;
}

#four{
    background-image: url("https://gm1.ggpht.com/w1l0Y71_p7jp8S7fvdJOAuMEKkkX3BJC2fdvaq2Eu6z8NWjdF7ETnNRQkr3gk8qJeJywTUyvvXWrnaSrrXoZfG7rePFwCh-_6FKTM5CATNH8Ilye2uiRTugavrRslhiMj2Fgx1tp0K-RhbJ7UiQxOSpBrLfzUmShGz1ql743NjKO_wQmV4lCCTMu483NWvAYQi8uFQqmWWPwQW9PJeeldJ6RabzOJdTarrud7-AXJIZhzkk_JVS3xgwYDXetLhceA9BpqfeQfcsk82b3KUCmL7rO1mDRQXJK6etYYqKDhgM7fhqU6l7EA6942F02o6pWYwhkA0n0E3ceGwpgV5fUtW5PG8-mtgiCYtHzoTTf8ToPS3GV_I155we4k4TUnqkne68_wd4mlCgfoObzjWq3Tm3olE7cdS5IU8j2cLTrlt6AK6o4gAu145DpmDAqDSg8Uq3i7iQM7ow7s3ejTptNfbWwkAXYr7r5Q6xVqbAODW3v91JpwiW9Zpkno85mVHN4PChDvpXGCQBHP83o9Cc-S8fH-fIlH3yuz0rwUGvbmH-Y4TV2PphR3uzq-9KOQtDZaojxJIvSLBIOOryr34C_SonKccbPL7N0bMCW2iHL-DAnDe39W4RkR8PmxrT0csbPNTvuBylFyhB71vOCwNOkhwpH0ODDCcI-Q_yywZhbpjfcEI6PcjzPXBVH36Zn0h6fh6TGROGTtJjdxua0NVa3vRYa-v4VpviwYV7xFGuFL7DO-JGLmelz_P71o7Yqcg=s0-l75-ft-l75-ft");
    background-color: #7abaff;
}

.billy{
    image-orientation: flip;
}

#five{
    font-size: 18em;
}

#six{
    font-size: 5em;
}



